<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GET 방식으로 데이터 전달하기</title>
</head>
<body>
    <!-- href = "라우터주소?변수1=값&변수2=값2..." -->
    <h1>GET 방시긍로 URL에 데이터 전달하기</h1>
    <a href="/result?data1=111&data2=222">result</a><br/>
    <a href="/result?data1=홍길동&data2=이몽룡">result</a><br/>
    <hr>
    <h2>FORM 태그 이용해서 데이터 전달</h2>
    <form action="/result">
        <input type="text" name="data1" placeholder="data1"/><br/>
        <input type="text" name="data2" placeholder="data2"/><br/>
        <button>확인</button>
    </form>

</body>
</html>