<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>파이썬 데이터 출력하기</title>
</head>
<body>
    <h1>파이썬 데이터 출력하기</h1>
    <hr>
    <h2>사용자 : {{userName}}</h2>
    <h2>나이 : {{userAge}} </h2>
    <h2>myList는? </h2>
    <p>{{myList}} </p>
    <ul>
        <li> {{myList[0]}} </li>
        <li>{{myList[1]}}</li>
        <li>{{myList[2]}}</li>
    </ul>

    <h2>myTuple은?</h2>
    <p>{{myTuple}} </p>

    <h2>myDict는?</h2>
    <p>{{myDict}} </p>
    <ul>
        <li>{{myDict['a']}}</li>
        <li>{{myDict.b}}</li>
        <li>{{myDict.c}}</li>
    </ul>
</body>
</html>